	<!--Navbar-->
	{% if user.is_authenticated %}
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container">
		<a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">VED Inventory</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link text-white" href="{% url 'dashboard-index' %}">Dashboard <span
							class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-expanded="false">
						More Pages
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if user.is_authenticated and user.is_staff and user.is_superuser %}
						<a class="dropdown-item" href="{% url 'dashboard-product-categories' %}">Categories</a>
						<a class="dropdown-item" href="#"></a>
						<div class="dropdown-divider"></div>
						{% endif %}
						<a class="dropdown-item" href="{% url 'user-profile' %}">Profile</a>
						<a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
						<a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
					</div>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link text-white" href="{% url 'user-profile' %}">Hello {{request.user|upper}}!<span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'user-logout' %}">Logout</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>

	{% else %}
	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container">
			<a class="navbar-brand text-white" href="{% url 'dashboard-index' %}">VEDInventory</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link text-white" href="{% url 'user-register' %}">Register<span
							class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="{% url 'user-login' %}">Login</a>
				</li>
			</ul>
		</div>
		</div>
	</nav>
	{% endif %}
	<!--End Navbar-->