{% extends "partials/base.html" %}
{% block title %}Category Delete Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-6 offset-md-3">
			<div class="border p-3 bg-white">
				<h3>Category Delete Page</h3>
				<hr>
				<div class="alert alert-danger">
					<h4>Are you sure you want to delete <span style="text-decoration: underline;">{{category.name}}</span>?
					</h4>
				</div>
				<form action="" method="POST">
					{{form|crispy}}
					{% csrf_token %}
					<a class="btn btn-secondary col-4" href="{% url 'dashboard-product-categories' %}">Cancel</a>
					<span class="col-4"></span>
					<input class="btn btn-danger col-4" type="submit" value="Confirm">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}