{% extends "partials/base.html" %}
{% block title %}Order Page{% endblock title %}

{% block content %}
	{% include "partials/topnav.html" %}
	<!--Order Table-->
	<div class="container">
		
		<div class="row my-4">
			<div class="col-md-4">

			</div>
			<div class="col-md-8">
				<table class="table bg-white">
					<thead class="bg-info">
						<tr class="text-white">
							<th scope="col">#</th>

							<th scope="col">Product</th>
							<th scope="col">Category</th>
							<th scope="col">Quantity</th>
							<th scope="col">Ordered by</th>
							<th scope="col">Date Ordered</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}

						<tr>
							<th scope="row">{{ forloop.revcounter }}</th>

							<td>{{order.product}}</td>
							<td>{{order.product.category}}</td>
							<td>{{order.order_quantity}}</td>
							<td>{{order.staff}}</td>
							<td>{{order.date_of_order}}</td>
						</tr>
						
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% endblock content %}