{% load crispy_forms_tags %}
<div class="container">
	{% for message in messages %}
	{% if message %}
	<div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	{% endfor %}
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h3>Place An Order</h3>
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						{{ form|crispy }}

						<input class="btn btn-info btn-block" type="submit" value="Place Order">
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-header">
					<h3>Orders Records</h3>
				</div>
				<div class="card-body">
					<table class="table bg-white">
						<thead class="bg-info text-white">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product</th>
								<th scope="col">Category</th>
								<th scope="col">Quantity</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
							
							{% if order.staff == user %}

							<tr>
								<td>{{ forloop.revcounter }}</td>
								<td>{{order.product.name}}</td>
								<td>{{order.product.category}}</td>
								<td>{{order.order_quantity}}</td>
								<td>
									<a class="btn btn-info" href="{% url 'dashboard-order-update' order.pk %}">Update</a>
								</td>
								<td>
									<a class="btn btn-danger" href="{% url 'dashboard-order-delete' order.pk %}">Delete</a>
								</td>
							</tr>

							{% endif %}
							
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>