{% extends "partials/base.html" %}

{% block title %}Password Reset Confirm Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-6 offset-md-3">
			{% for message in messages %}
			{% if message %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
			{% endfor %}
			<div class="border p-3 bg-white">
				<h2 class="text-center">Password Reset Confirm Page</h2>
				<p>Please enter your new password, you can ignore if you changed your mind</p>
				<hr>
				<form action="" method="post">
					{% csrf_token %}
					{{form|crispy}}
					<input class="btn btn-info col-6" type="submit" value="Confirm New Password">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}