{% extends "partials/base.html" %}

{% block title %}Password Reset Done Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-8">
			<div class="border p-3 bg-white">
				<h3 class="text-center">Password Reset Done Page</h3>
				<hr>
				<div class="alert alert-info">
					<h3>We have sent a reset password mail to the email address you provided. Please click on the link and follow the instructions to reset your password. Thank you.</h3>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}