{% extends "partials/base.html" %}

{% block title %}Password Change Page{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-6 offset-md-3">
			{% for message in messages %}
			{% if message %}
			<div class="alert alert-{{message.tags}} alert-dismissible fade show text-center">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
			{% endfor %}
			<div class="border p-3 bg-white">
				<h2 class="text-center">Password Change Page</h2>
				<p>Please enter your old password, for security's sake, and then enter
					your new password twice so we can verify you typed it in correctly.</p>
				<hr>
				<form action="" method="post">
					{% csrf_token %}
					{{form|crispy}}
					<input class="btn btn-danger mx-4 col-4" type="submit" value="Change Password">
					<a class="btn btn-info col-4" href="">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}