{% extends "partials/base.html" %}

{% block title %}Profile Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="row my-4">
		<div class="col-md-8">
			<div class="card">
				<div class="card-header bg-info text-white">
					Profile Update Page
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<span class="h4"> Profile Information Update</span>
							<hr>
							<form action="" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								{{ user_form|crispy }}
								{{ profile_form|crispy }}
								<input class="btn btn-danger row col-md-4" type="submit" value="Update Info">
								<span class="col-md-4"></span>
								<a class="btn btn-info row col-md-4" href="">Cancel Update</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
{% endblock content %}