{% extends "partials/base.html" %}

{% block title %}Register Page{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="border bg-white p-3">
					<h3>Registeration Page</h3>
					<hr>
					<form method="POST">
						{% csrf_token %}
						{{form|crispy}}
						<input type="submit" value="Register" name="" class="btn btn-success">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}